@CHARSET "utf-8";

body
{
	text-align:center;
	margin-top: 0px;
}


#bandeau1
{
	position:absolute;
	width:250px;
	height:1000px;
	background-color: #e0e0e0;
	left: 0px;
	display: inline;
}

#bandeau2
{
	position:absolute;
	width:250px;
	height:1000px;
	background-color: #e0e0e0;
	right: 0px;
	display: inline;
}



#connexion
{
	
	width : 190px;
	height: 30px;
	position:absolute;
	top:0px;
	right: 0px;
	padding-top: 5px;
	padding-right:5px;
	display:inline-block;
	border-style: groove;
	border-color: blue;
	
	
	
	
	
}

#connexion a
{
	border-style:groove;
	display:inline-block;

	
	
}


 
nav
{
	
	display:inline-block;
	background-color: #e0e0e0;
	margin:auto;
	width: 800px;
	border-radius:15px;
	
	

	
}

nav h3
{
	
	margin-right: 200px;
	margin-left:60px;
	margin-top: 20px;
}

#descriptionSite
{
	margin-left:60px;
	

}


nav ul
{

    list-style-type: none;
    margin-right: 50px;
    text-align: right;
    
}

nav li
{

    display: inline-block;
    border-style:solid;
    width: 100px;
    text-align: center; 
}

nav li:HOVER
{
	background-color:#33bde5;
}







#genreArtiste li
{
	display: block;
	text-align: left;
	background-color: #8e8e8e;
	text-align: center;
		
}

#genreArtiste li:HOVER
{
	background-color:#33bde5;
}


#genreArtiste 
{
    display:none;
    border-top-width: 5px; 
	padding-left:0;	
	
	
	
  
    
}


#listePrincipale li 
{
	border-style: solid;
	margin: 0 0; 
	
}



#formulaireInscription
{
	width: 500px;
	margin:auto;
	text-align:left;
}

#formulaireInscription input
{
	margin-bottom: 2px;
	
	
}

#formArtiste
{
	display:none;
}
